#This is a comment
#It Should be ignored

CONFIG_TYPE:PATHS
CONFIG_NAME:SPRITES

KEY = res/images/key_1.png
MAN = res/images/man_1.png
BALL = res/images/thrown_1.png
JDK_STANDING = res/images/JDK_sprites1.png
JDK_RUNNING = res/images/JDK_run.png
JDK_CLIMBING = res/images/JDK_climb.png
JDK_SPINNING = res/images/JDK_spin.png
JDK_FLYING = res/images/JDK_fly.png
BOSS = res/images/boss_1.png
LADDER = res/maps/ladder.png
PLATFORM = res/maps/platform.png
REDBULL = res/images/redbull.png
ROPE = res/images/rope.png