#This is a comment
#It Should be ignored

CONFIG_TYPE:MODEL
CONFIG_NAME:BOUNDARY_BOTTOM

TAGS = MODEL,BOUNDARY,BOTTOM,GROUND,PLATFORM #Remove ground when done teting gha

BODY_TYPE = STATIC
BODY_ACTIVE = TRUE

FIXTURE_SHAPE_TYPE = CHAINSHAPE_POINTS
FIXTURE_SHAPE_POINT_COUNT = 2
FIXTURE_SHAPE_POINT_1 = 64,32
FIXTURE_SHAPE_POINT_2 = 512,32


