#This is a comment
#It Should be ignored

CONFIG_TYPE:MODEL
CONFIG_NAME:KEY

TAGS = MODEL,KEY,OBTAINABLE

BODY_TYPE = STATIC
BODY_POSITION_X = 50
BODY_POSITION_Y = 20
BODY_ANGLE = 5
BODY_ACTIVE = TRUE

#FIXTURE_COUNT = 1
FIXTURE_SHAPE_TYPE = POLYGONSHAPE
FIXTURE_SHAPE_WIDTH = 16
FIXTURE_SHAPE_HEIGHT = 32
FIXTURE_FRICTION = 1
FIXTURE_RESTITUTION = 1
FIXTURE_SENSOR = TRUE

SPRITE = KEY

