#This is a comment
#It Should be ignored

CONFIG_TYPE:MODEL
CONFIG_NAME:BOUNDARY_SIDES

TAGS = MODEL,BOUNDARY,SIDE

BODY_TYPE = STATIC
BODY_ACTIVE = TRUE

FIXTURE_COUNT = 2
FIXTURE_SHAPE_TYPE_1 = CHAINSHAPE_POINTS
FIXTURE_SHAPE_POINT_COUNT_1 = 2
FIXTURE_SHAPE_POINT_1_1 = 0,512
FIXTURE_SHAPE_POINT_1_2 = 0,0

FIXTURE_SHAPE_TYPE_2 = CHAINSHAPE_POINTS
FIXTURE_SHAPE_POINT_COUNT_2 = 2
FIXTURE_SHAPE_POINT_2_1 = 448,0
FIXTURE_SHAPE_POINT_2_2 = 448,512


